{% extends 'base.html' %}
{% block content%}
<div class="dark">
    <h1>Artikel Baru</h1>
    <div class="container">
        <form method="POST" class="" id =>{% csrf_token %}
            {% for field in form %}
            <div class="container p-2">
                <label for="{{ field.name }}">{{ field.label }}</label>
                <div>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="row p-3">
                <div class="col-auto my-auto">
                    <button type="submit" class="btn btn-form">Simpan</button>
                </div>
                <div class="col-auto my-auto">
                    <a class="btn btn-danger" href="{% url 'article:article_list' %}">Batal</a>
                </div>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
