{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="{% static 'js/komentar/comment_js.js' %}"></script>
<script src="{% static 'js/artikel/artikel_js.js' %}"></script>
<script type="text/javascript">
    var id_artikel = '{{ artikel.id|escapejs }}';
    var url_submit = "{% url 'komentar:add_comment' id=artikel.id|escapejs %}"
</script>
{% endblock meta %}

{% block content%}
<div class="dark">
    <div class="container pt-5">
        <h1>{{ artikel.nama }}</h1>
        <div class="container p-5">
            <h3>Penulis: {{ artikel.penulis }}</h3>
            <h3>Tanggal Penulisan: {{ artikel.tanggal_penulisan }}</h3>
            <h3>Deskripsi:</h3> 
            <div class="container">
                <p>{{ artikel.deskripsi }}</p>
            </div>
            <div class="d-flex justify-content-center p-5">
                <a class="btn btn-info" href="{% url 'article:article_list' %}">Back</a>
            </div>
            <hr>
            <!-- bagian komentar mulai -->
            {% include 'komentar/komentar_form.html' %}

            <h3><span id="jumlah_komentar"></span> Komentar:</h3>
            <div id="comment_list">
            </div>
            <!-- bagian komentar selesai -->
        </div>
    </div>    
</div>
{% endblock %}
