<form method="post" class="container" id="komentar_form">
    {% csrf_token %}
    <div class="container">
        <label for="comment">Tinggalkan komentar sebagai <span style="color: red;">{{ user.username }}</span>:</label>
        <div>
            <textarea id="comment" type="text" name="comment" style="width: 50%;"></textarea>
        </div>
        <input type="submit" value="Komentar" id="submit_button" style="display: none;" disabled>
        <input type="button" value="Batal" id="cancel_button" style="display: none;">
    </div>
</form>