{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>B01</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
 <!-- <h1>Hello, world!</h1>-->
  <div>
  <div class="card" style="padding: 10px">
  	<p><a style="background: transparent; color: black" href="{% url 'main:home' %}">Beranda</a></p>
  </div>

  <div class="" style="margin-top: 30px;">
  	<div class="card-body" style="box-shadow: none;">
  		<h2>
  			Kasus Covid di Indonesia
  		</h2>
  	</div>
  	<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>			
					<th>Provinsi</th>
					<th>Kasus Positif</th>
					<th>kasus Sembuh</th>
					<th>kasus Meninggal</th>
				</tr>
			</thead>
			<tbody>
                {% for covid in data %}
				<tr>				
					<td>{{covid.provinsi}}</td>
					<td>{{covid.kasus_positif}}</td>
					<td>{{covid.kasus_sembuh}}</td>
					<td>{{covid.kasus_meninggal}}</td>
                </tr>
                {% endfor %}
			</tbody>
		</table>
  </div>
  <div class="card" style="width: 50%">
  	<center><p id="tanggal"></p>
	<h3><span id="name"></span></h3>
	<h3>Positif : <span id="positif"></span></h3>
	<h3>Sembuh : <span id="sembuh"></span></h3>
	<h3>Meninggal : <span id="meninggal"></span></h3></center>
  </div>
  </div><br><br>
  <footer>
	<div class="footer">
  <p><p>© 2020 B01</p></p>
</div>
</footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    
    <!--<script>
        $(document).ready(function() {
			    $('#example').DataTable( {
			        "order": [[ 1, "desc" ]]
			    } );
			} );
    </script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
		$(document).ready(function(){
			//alert('Saya dieksekusi');
			$.ajax({
				url : "/kasus",
				success: function(result){
					console.log(result);
					$("#name").text(result[0].name);
					$("#positif").text(result[0].positif);
					$("#sembuh").text(result[0].sembuh);
					$("#meninggal").text(result[0].meninggal);
				}
			})
		});
	</script>
    <style type="text/css">
	div {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		font-size: 15px;
	}
	.card-body{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		text-align: center;
	}
	.row {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	p {
		margin: 0px;
		font-size: 17px;
	}

	.pagination {
		position: inherit;
	}

	ul.pagination{
			background : transparent;
			box-shadow: none;
			margin-left: 100px; 
		}

	table {
		font-size: 12px;
	}
	label {
		font-size: 10px;
	}


</style>
{% endblock content %}
